<!DOCTYPE html>

{% load staticfiles %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>
        {% block title_block %}
            Project Tracking
        {% endblock %}
    </title>
    <link rel="stylesheet" href="{% static 'css/tracker.css' %}">

</head>
<body>
    <div>
        {% block body_block %}

        {% endblock %}
    </div>

    <div>
        {% block footer_block %}

        {% endblock %}
    </div>

    <script src="{% static "js/jquery-3.0.0.min.js" %}"></script>
    <script src="{% static "js/tracker.js" %}"></script>
    <script src="{% static "js/tracker-ajax.js" %}"></script>

</body>
</html>