{% extends 'base.html' %}
{% load staticfiles %}

{% block title_block %}
    Add Task
{% endblock %}

{% block body_block %}
    <h1>Add a Task</h1>
    <div>
        <form id="category_form" method="post" action="/tracker/task/add_task/">
            {% csrf_token %}
            {% for hidden in form.hidden_fields %}
                {{ hidden }}
            {% endfor %}

            <table>
                <tr>
                    <td>Name</td>
                    <td>{{ form.name }}</td>
                </tr>
                <tr>
                    <td>Description</td>
                    <td>{{ form.description }}</td>
                </tr>
                <tr>
                    <td>Order</td>
                    <td>{{ form.order }}</td>
                </tr>
                <tr>
                    <td>Status</td>
                    <td>{{ form.status }}</td>
                </tr>
            </table>

            <table>
                <tr>
                    <td><input type="submit" name="submit" value="Create Task" /></td>
                    <td><a href="{% url 'task-list' %}"><button id="cancel-btn">Cancel</button></a></td>
                </tr>
            </table>
        </form>
    </div>

{% endblock %}